body {
    text-align: center;
    background-image: url(https://i.gifer.com/7A8C.gif);
}

h1 {
    font-size: 80px;
    font-style: oblique;
    color: cornflowerblue;
    text-shadow: 2px 2px orange;
}
